<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
    <section>
        <% users.forEach((user, index) => { %>
        <article style="background-image: url('/static/upload/<%= user.image %>'); background-repeat: no-repeat; background-size: cover;">
            <p><%= user.firstname + " " + user.surname + " " + user.age%></p>
            <p><%= user.club %></p>
            <p><%= user.description %></p>
        </article>
        <% }) %>
    </section>
<%- include ('../partials/nav') %>
</body>