<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
    <main>
        <img src="/static/upload/<%= user.image %>" alt="profiel foto">
        <p>Welkom <%= user.firstname + " " + user.surname%> op je profiel. Als je je account wil verwijderen klik dan op de verwijder knop hieronder.
        Let op dit kan niet meer ongedaan worden gemaakt!. Wil je je account gegevens updaten? Klik dan op <a href="/profile-edit">hier</a></p>
        <form method="POST" action="/delete" >
            <button class="button delete loginButton">Verwijder account</button>
        </form>
    </main>
<%- include ('../partials/nav') %>
</body>