<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
    <p>Welkom <%= user.firstname %></p>
    <img src="/static/upload/<%= user.image %>" alt="profiel foto">
<%- include ('../partials/nav') %>
</body>