<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
    <main>
        <img src="/static/upload/<%= user.image %>" alt="profiel foto">
        <p>Welkom <%= user.firstname + " " + user.surname%> op je profiel. Als je je account wil verwijderen klik dan op de verwijder knop hieronder.
        Let op dit kan niet meer ongedaan worden gemaakt!</p>
        <form method="POST" action="/delete" >
            <button class="button delete loginButton">Verwijder account</button>
        </form>
    </main>
<%- include ('../partials/nav') %>
</body>