<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
        <section>
            <p>Om je account gegevens te updaten moet je dit formulier invullen</p>
        </section>

        <form method="POST" action="/profile-edit" enctype="multipart/form-data">
            <label for="firstname">Voornaam</label><input id="firstname" type="text" name="firstname" placeholder="John" value="<%= user.firstname%>" required>
            <label for="surname">Achternaam</label><input id="surname" type="text" name="surname" placeholder="Doe" value="<%= user.surname%>" required>

            <label for="age">Leeftijd</label><input id="age" type="number" name="age" min="18" max="99" placeholder="18" value="<%= user.age%>" required>

            <label for="gender">Geslacht</label>
            <input type="radio" name="gender" value="man" required <%if(user.gender === "man") {%> <%="checked"%> <%}%> >Man
            <input type="radio" name="gender" value="female" <%if(user.gender === "female") {%> <%="checked"%> <%}%>     >Vrouw
            <input type="radio" name="gender" value="other" <%if(user.gender === "anders") {%> <%="checked"%> <%}%>     >Anders

            <label>Eredivisie club</label>
            <% const clubs = ['ADO', 'Ajax', 'AZ', 'FC Emmen', 'Sparta Rotterdam', 'Feyenoord', 'Fortuna Sittard', 'RKC Waalwijk', 'FC Groningen', 'SC Heerenveen',
            'Heracles Almelo', 'FC Twente', 'PEC Zwolle', 'PSV', 'FC Utrecht', 'Vitesse', 'VVV Venlo', 'Willem 2'] %>
            <select name="club" required>
               <% for (club of clubs) { %>
                    <option value="<%= club %>" <% if (user.club === club) { %> <%="selected"%> <% } %> ><%= club %> </option>
               <% } %>
            </select>

            <label for="photo">Profiel foto</label><input id="photo" type="file" name="image" accept="image/*" capture>

            <label for="email">Email</label><input id="email" type="email" name="email" placeholder="example@example.com" value="<%= user.email%>" required>

            <label for="password">Wachtwoord</label><input id="password" type="password" name="password" required>

            <label for="searchGender">Opzoek naar</label>
            <input type="radio" name="searchGender" value="man" required <%if(user.searchGender === "man") {%> <%="checked"%> <%}%> >Man
            <input type="radio" name="searchGender" value="female" <%if(user.searchGender === "female") {%> <%="checked"%> <%}%>    >Vrouw
            <input type="radio" name="searchGender" value="other" <%if(user.searchGender === "other") {%> <%="checked"%> <%}%>      >Anders

            <label for="omschrijving">Omschrijving van jezelf</label><textarea id="omschrijving" name="description" rows="7" cols="45" ><%= user.description%></textarea>

            <button class="button profileEdit" type="submit">Update profiel</button>
        </form>

<%- include ('../partials/nav') %>

</body>